html, body {
    height:100%;
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
    font-size:12px;
}

.container {
    width:80%;
    min-height:100%;
    padding:20px;
    margin:0 auto;
    background-color: rgba(8, 8, 8, 0.02);}

h4 {
    border-bottom:1px solid #ddd;
}

.text-center {
    text-align:center;
}

xmp {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
    font-size: 12px;
}

table {
    border-collapse:collapse;
}
table th, table td {
    padding:3px 5px;
}


/*css3分页按钮过渡效果
-------------------------------------*/
/*命名空间*/
.paging-transition {
    margin: 10px 0;
    padding: 0;
    list-style: none;
    height: 30px;
    display: inline-block;
    text-align: center;
}
/*内联 浮动 相对定位 最小宽度 固定高度*/
.paging-transition li {
    display: inline-block;
    float: left;
    min-width: 30px;
    height: 30px;
    position: relative;
    background-color: #ddd;
    cursor: pointer;
    margin-right: 8px;
}
.paging-transition li:last-child {
    margin-right: 0;
}
.paging-transition li a {
    line-height: 30px;
    text-decoration: none;
    color: #000;
    z-index: 2;
    position: relative;
    font-size: 16px;
    font-family: 宋体;
    background-color: transparent;
}
/*更多页...*/
.paging-transition li.more a {
    line-height: 22px;
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
}
.paging-transition li.first a, .paging-transition li.prev a,.paging-transition li.last a, .paging-transition li.next a {
    padding: 0 7px;
}
/*过渡层*/
.paging-transition li:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    position: absolute;
    z-index: 1;
    bottom: 0;
    background-color: #1DA8F9;
    transition: 0.4s;
}
/*首页 上一页 过渡层 从右到左*/
.paging-transition li.first:after, .paging-transition li.prev:after {
    right: 0;
    height: 100%;
    width: 0;
    transition: 0s;
}
/*尾页 下一页 过渡层 从左到右*/
.paging-transition li.last:after, .paging-transition li.next:after {
    left: 0;
    height: 100%;
    width: 0;
    transition: 0s;
}
.paging-transition li:hover a {
    color: #FFF;
    transition: 0.4s;
}
.paging-transition li:hover:after{
    height:100%;
}
.paging-transition li.first:hover:after, .paging-transition li.prev:hover:after {
    width: 100%;
    transition: 0.4s;
}

.paging-transition li.last:hover:after, .paging-transition li.next:hover:after {
    width: 100%;
    transition: 0.4s;
}
/*激活页*/
.paging-transition li.active:after {
    height:100%;
    width:100%;
}
.paging-transition li.active a{
    color:#FFF;
}
/*禁用页*/
.paging-transition li.disabled,.paging-transition li.disabled a {
    cursor:no-drop;
}
.paging-transition li.disabled:after {
    height: 0;
    width: 0;
}
.paging-transition li.disabled a {
    color: #FFF;
    font-weight: bold;
}